- unless test_run.status.code == TestStatus::CANCELLED
  = link_to "Retry", retry_project_branch_test_run_path(id: test_run.id),
    class: 'btn btn-icon btn-success', method: :post

  = link_to "Cancel",
    project_branch_test_run_path(current_project, test_run.tracked_branch_id,
    test_run,
    status: TestStatus::CANCELLED), class: 'btn btn-primary', method: :put
