= link_to retry_project_branch_test_run_path(id: test_run.id), method: :post do
  %button.btn.btn-icon.btn-success.m-b-5
    %i.fa.fa-refresh
= link_to project_branch_test_run_path(id: test_run.id), method: :delete do
  %button.btn.btn-icon.btn-danger.m-b-5
    %i.fa.fa-remove
