.left-panel {
  .fa {
    line-height: inherit;
  }
}
.breadcrumb > span {
  margin-right: 10px;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.file-edit-buttons {
  li {
    cursor: pointer;
  }
}

.multi-select {
  width: 50%;
}

.test-run-panel-heading {
  display: inline-block;
  width: 100%;
}

.branches {
  .btn {
    text-align: left;
  }
}

.content {
  a:hover {
    text-decoration: underline;
  }

  header a:hover {
    text-decoration: none;
  }
}

.progress.status {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: initial;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.page-title {
  font-size: 30px;
  margin-top: -15px;
  padding-left: 11px;
  padding-bottom: 4px;
}

.breadcrumb {
  margin-bottom: 10px;
}

.commit-info {
  .title {
    font-size: 20px;
  }

  .author {
    font-size: 15px;
  }
}

.page-subtitle {
  font-size: 15px;
}

.breadcrumb-bar {
  display: inline-block;
  width: 100%;
  height: 36px;

  .breadcrumb-left-side {
    float: left;
  }

  .breadcrumb-actions {
    float: right;
    padding: 7px;
  }
}

.more-info {
  color: grey;
  display: block;
  font-size: 12px;
}

.display-error {
  text-align: left;
  border-top: 0px !important;
  padding: 0px !important;

  div {
    max-height: 500px;
    overflow: auto;
    white-space: pre-line;
  }
}

.show-all-area {
  cursor: pointer;

  label {
    float: right;
    padding: 3px;
  }

  input {
    float: right;
  }
}

.console {
  font-family:Courier;
  color: #CCCCCC;
  background: #000000;
  padding: 10px;
  scrollbar-face-color: #b46868;
}
.console::-webkit-scrollbar {
  width:12px;
  color: black;
  background-color:#cccccc;
}

.console::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: grey;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.console::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
