body.project_wizard {
  &.show, &.update {
    .fetch-repos {
      min-height: 300px;
    }

    .provider-box {
      width: 100%;
      padding: 20px;
      background: #F9F9F9;
      font-size: 200%;

      input[type="radio"] {
        display:none;
      }

      &.selected {
        background-color: #CCC;
      }
    }

    .panel-body {
      .doc-text {
        margin: 10px 20px;
        font-size: 120%;
      }

      .actions {
        padding-top: 10px;
      }

      a.list-group-item {
        text-decoration: none;

        .list-group-item-heading {
          font-size: 18px; // Reset to Bootstrap default
          font-weight: normal; // Reset to Bootstrap default
        }
      }
    }
  }
}

.private-repo-access {
  margin-top: 21px;

  .fa-check {
    color: #33b86c;
  }
}
