body.project_wizard {
  &.show, &.update {
    .fetch-repos {
      min-height: 300px;
    }

    .provider-box {
      width: 100%;
      padding: 20px;
      font-size: 28px;

      input[type="radio"] {
        display:none;
      }
    }

    .panel-body {
      .doc-text {
        margin: 10px 20px;
        font-size: 120%;
      }

      .actions {
        padding-top: 10px;
      }

      a.list-group-item {
        text-decoration: none;
        padding: 10px 15px;
        margin: 5px 0;

        &.disabled {
          opacity: 0.65;
          color: rgba(0, 0, 0, 0.26);
        }

        .list-group-item-heading {
          color: rgba(0, 0, 0, 0.77);
          font-size: 18px; // Reset to Bootstrap default
          font-weight: normal; // Reset to Bootstrap default
        }
      }
    }
  }
}

.private-repo-access {
  margin-top: 21px;

  .fa-check {
    color: #33b86c;
  }
}
