body.settings {
  &.notifications {
    form {
      input[type='submit'] {
        margin-top: 10px;
      }

      .form-row {
        margin-top: 20px;
      }
    }
  }

  &.worker-setup {
    .panel-title .worker-groups-actions {
      float: right;
    }

    .panel-body .worker-group-actions {
       float: right;
     }

    .panel-body .worker-group a.action {
      margin-left: 10px;
    }
  }

  .project-settings-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .notification-settings-cards {
    .form-group {
      margin: 0;
    }
  }

  .technology-selections {
    .form-group {
      margin: 14px 0 0 0;
    }
    .multi-select {
      width: 100%;
    }
  }
}

