body.tracked_branches {
  &.new {
    a.list-group-item {
      text-decoration: none;

      .list-group-item-heading {
        font-size: 18px; // Reset to Bootstrap default
        font-weight: normal; // Reset to Bootstrap default
      }
    }
    #fetch_more {
      margin-top: 10px;
    }
  }
}
