.home.index {
  .projects-container {
    background-color: #FDFDFD;
    box-shadow: 1px 1px 1px 1px silver;
    border-radius: 4px;
    border-top: 1px solid silver;
    padding-bottom: 30px;
    width: 100%;
  }

  .projects-header {
    text-align: center;
  }

  .projects-inner-container {
    margin: 18px 10px;
  }

  .project-title {
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 19px;
    font-weight: bold;
  }

  .cell {
    width: 100px;
    padding: 5px 0;
  }

  // Status classes
  .status {
    border-radius: 4px;
    text-align: center;
    border: 1px solid whitesmoke;
  }

  .pending {
    background-color: #E4E4DC;
    border: 1px solid #CECEC6;
  }

  .running {
    background-color: #FFFF96;
    border: 1px solid #FBFB04;
  }

  .failed {
    background-color: #FFC296;
    border: 1px solid #F15656;
  }

  .passed {
    background-color: #96FF9E;
    border: 1px solid #04FB67;
  }

  a.smaller {
    font-size: 70%;
  }

  .branch {
    padding: 0px;
    margin: 0px 9px;
    min-height: 30px;
  }

  .retry {
    font-size: 14px;
    margin: 0;
    line-height: 1.1;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }
}
