- if @response_data[:repos].any?
  .panel-title
    %h3 Select a Bitbucket repository:
  .panel-body
    .list-group
      - @response_data[:repos].each do |repo|
        :ruby
          if repo[:cannot_import_message]
            url = "#"
            klass = "disabled"
            link_method = nil
            tooltip_options =
              { data: {toggle: 'tooltip'}, title: repo[:cannot_import_message] }
          else
            url = project_wizard_path(repository_owner: repo[:owner],
              repository_name: repo[:name], repository_slug: repo[:slug],
              repository_provider: 'bitbucket')
            klass = ""
            link_method = :put
            tooltip_options = {}
          end

        = link_to url, { method: link_method,
          class: "list-group-item #{klass}" }.merge(tooltip_options) do
          - if repo[:is_fork]
            %span.badge
              FORK
          .list-group-item-heading
            #{repo[:full_name]}
          .list-group-item-text
            #{repo[:description]}



    -# TODO Add pagination support when migrate to using BitBucket API v2
- else
  .panel-title
    %h3 No repositories found! None. Zero. Zilch. Nada.
    We were unable to find any repositories. If this is unexpected for you,
    please check if you need to manually approve access of Testributor to
    those organisations you are member of or create at least one personal
    repository and then refresh this page.
