.panel.panel-default
  = render 'layouts/wizard_steps'
  .panel-body{style: 'min-height: 300px;'}
    .row
      .col-sm-12
        .js-fetching-repos.text-center.github-fetch-overlay
          .panel-title
            %h3 Fetching your repositories. Please give us a few seconds...
          .panel-body
            %p= image_tag('loading_spinner.gif')
        .js-fetch-repos{ data: { current_path: fetch_repos_project_wizard_path(page: params[:page]) }, style: 'position: relative;'}
