- if @repos
  - if @repos.any?
    .panel-title
      %h2 Select a repository:
    .panel-body
      .list-group
      - @repos.each do |repo|
        = link_to project_wizard_path(repo_name: repo[:name]), method: :put,
        class: 'list-group-item' do
          #{repo[:name]}
          - if repo[:fork]
            %strong= "[FORK]"
  - else
    .panel-title
      %h2 No repositories found! None. Zero. Zilch. Nada.
      We were unable to find any repositories. If this is unexpected for you,
      please check if you need to manually approve access of Testributor to
      those organisations you are member of or create at least one personal
      repository and then refresh this page.
- else
  .panel-title
    %h2 Your Testributor account is not connected to GitHub.
  %p
    We're going to now talk to the GitHub API. Ready?
    = link_to 'Click here', github_oauth_authorize_url
    to begin!
