---
http_interactions:
- request:
    method: get
    uri: https://api.bitbucket.org/1.0/user/repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="8f1c269f58217d02f46e4075ee3978a9",
        oauth_signature="lncRUXPWzS%2BwzhUuZknw%2FenfrCE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465227836", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - fb2f3cf8e102
      Etag:
      - '"8fda04c92873f028d99c6ec579bc1809"'
      X-Render-Time:
      - '0.0357780456543'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - fb2f3cf8e102
      X-Request-Count:
      - '97'
    body:
      encoding: ASCII-8BIT
      string: '[{"scm": "git", "has_wiki": false, "last_updated": "2015-10-01T15:52:41.972",
        "no_forks": false, "created_on": "2015-09-28T22:29:25.120", "owner": "jimmykarily_testributor",
        "logo": "https://bitbucket.org/jimmykarily_testributor/testributor_gem/avatar/32/?ts=1443707561",
        "email_mailinglist": "", "is_mq": false, "size": 351551, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2015-09-28
        20:29:25+00:00", "website": "", "description": "", "has_issues": false, "is_fork":
        false, "slug": "testributor_gem", "is_private": true, "name": "testributor_gem",
        "language": "", "utc_last_updated": "2015-10-01 13:52:41+00:00", "no_public_forks":
        true, "creator": null, "resource_uri": "/1.0/repositories/jimmykarily_testributor/testributor_gem"},
        {"scm": "git", "has_wiki": false, "last_updated": "2016-04-24T16:53:51.089",
        "no_forks": false, "created_on": "2016-04-19T14:33:41.006", "owner": "spyros_brilis",
        "logo": "https://bitbucket.org/spyros_brilis/testing_repository/avatar/32/?ts=1461509631",
        "email_mailinglist": "", "is_mq": false, "size": 3771906, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_create[...]
- request:
    method: get
    uri: https://api.bitbucket.org/1.0/user/privileges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="1419a756cfeec4b37ee0ae9c13a50882",
        oauth_signature="epsqULOYM3NjOQ7uAeMaBX7cv2Y%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465227837", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - fb2f3cf8e102
      Etag:
      - '"a6e0c24c3bbc6b5a00497cb4d74e8c41"'
      X-Render-Time:
      - '0.0256910324097'
      X-Accepted-Oauth-Scopes:
      - account
      X-Version:
      - fb2f3cf8e102
      X-Request-Count:
      - '484'
    body:
      encoding: UTF-8
      string: '{"teams": {}}'
  recorded_at: Mon, 06 Jun 2016 15:43:58 GMT
- request:
    method: get
    uri: https://api.bitbucket.org/1.0/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="3fd254c5a8de938442870bd3c2e6ff63",
        oauth_signature="VBpzrsRrF1wgUjgdJlDTeNUNVl0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465227838", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - fb2f3cf8e102
      Etag:
      - '"6941b94c52e5f0df9ebda782e45963a8"'
      X-Render-Time:
      - '0.0326299667358'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - fb2f3cf8e102
      X-Request-Count:
      - '291'
    body:
      encoding: ASCII-8BIT
      string: '{"repositories": [{"scm": "git", "has_wiki": false, "last_updated":
        "2016-04-24T16:53:51.089", "no_forks": false, "created_on": "2016-04-19T14:33:41.006",
        "owner": "spyros_brilis", "logo": "https://bitbucket.org/spyros_brilis/testing_repository/avatar/32/?ts=1461509631",
        "email_mailinglist": "", "is_mq": false, "size": 3771906, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2016-04-19
        12:33:41+00:00", "website": "", "descripti[...]
- request:
    method: get
    uri: https://api.bitbucket.org/1.0/privileges/jimmykarily_testributor/testributor_gem/?filter=admin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="09b5984949065255a1b793426aa31d01",
        oauth_signature="%2FIFWFib8kTxn7zaY7o7efBzsHPc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465227838", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - fb2f3cf8e102
      Etag:
      - '"8cd76c039c1547b36e333cd946a96a90"'
      X-Render-Time:
      - '0.0815229415894'
      X-Accepted-Oauth-Scopes:
      - repository:admin
      X-Version:
      - fb2f3cf8e102
      X-Request-Count:
      - '148'
    body:
      encoding: ASCII-8BIT
      string: '[{"repo": "jimmykarily_testributor/testributor_gem", "privilege": "admin",
        "user": {"username": "pakallis", "first_name": "", "last_name": "", "display_name":
        "pakallis", "is_team": false, "avatar": "https://bitbucket.org/account/pakallis/avatar/32/?ts=1463129608"},
        "repository": {"owner": {"username": "jimmykarily_testributor", "first_name":
        "Dimitris", "last_name": "Karakasilis", "display_name": "Dimitris Karakasilis",
        "is_team": false, "avatar": "https://bitbucket.org/account/jimmykarily_testributor/avatar/32/?ts=1465217255"},
        "name": "testributor_gem", "slug": "testributor_gem"}}, {"repo": "jimmykarily_testributor/testributor_gem",
        "privilege": "[...]
