---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 6958771a03001a069b7d1952cb2404485f4ef35d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1471441501'
      Etag:
      - W/"f56adef10f7c94c18a63c43a78cce0ed"
      Last-Modified:
      - Wed, 17 Aug 2016 10:36:05 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"testributor-github-api-test-user","id":21078249,"avatar_url":"https://avatars.githubusercontent.com/u/21078249?v=3","gravatar_id":"","url":"https://api.github.com/users/testributor-github-api-test-user","html_url":"https://github.com/testributor-github-api-test-user","followers_url":"https://api.github.com/users/testributor-github-api-test-user/followers","following_url":"https://api.github.com/users/testributor-github-api-test-user/following{/other_user}","gists_url":"https://api.github.com/users/testributor-github-api-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/testributor-github-api-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/testributor-github-api-test-user/subscriptions","organizations_url":"https://api.github.com/users/testributor-github-api-test-user/orgs","repos_url":"https://api.github.com/users/testributor-github-api-test-user/repos","events_url":"https://api.github.com/users/testributor-github-api-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/testributor-github-api-test-user/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":"testributor-github-api-test-user@testributor.com","hireable":null,"bio":null,"public_repos":5,"public_gists":0,"followers":0,"following":0,"created_at":"2016-08-17T09:23:30Z","updated_at":"2016-08-17T10:36:05Z"}'
  recorded_at: Wed, 17 Aug 2016 12:49:05 GMT
recorded_with: VCR 2.9.3
