---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repositories/164/statuses/123456
    body:
      encoding: UTF-8
      string: '{"context":"testributor.com","target_url":"http://example.com/projects/8300/builds/4840","description":"Build
        is being testributed.","state":"pending"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 6958771a03001a069b7d1952cb2404485f4ef35d
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1471441501'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Wed, 17 Aug 2016 12:49:42 GMT
recorded_with: VCR 2.9.3
