---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1447842438'
      Last-Modified:
      - Thu, 22 Oct 2015 18:39:17 GMT
      Etag:
      - W/"2a2a25bc4db832eba422ea5467aef3a1"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false,"name":"Ilias
        Spyropoulos","company":"incrediblue","blog":"www.incrediblue.com","location":"Volos,
        Greece","email":"ilias@incrediblue.com","hireable":true,"bio":null,"public_repos":2,"public_gists":0,"followers":5,"following":9,"created_at":"2010-08-06T07:18:54Z","updated_at":"2015-10-22T18:39:17Z"}'
  recorded_at: Wed, 18 Nov 2015 09:54:49 GMT
[...]
