---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repositories/1/statuses/123456
    body:
      encoding: UTF-8
      string: '{"context":"testributor.com","target_url":"http://example.com/projects/87/test_runs/74","description":"All
        checks have passed!","state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1455552918'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 15 Feb 2016 16:07:42 GMT
recorded_with: VCR 2.9.3
