---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 668421ce13ae4937095aa4ffe840ba0d79e9281f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1445543245'
      Last-Modified:
      - Mon, 19 Oct 2015 15:54:19 GMT
      Etag:
      - W/"e1f97ea8ceff7028f414b4b07018e0c7"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"spyrbri","id":3419713,"avatar_url":"https://avatars.githubusercontent.com/u/3419713?v=3","gravatar_id":"","url":"https://api.github.com/users/spyrbri","html_url":"https://github.com/spyrbri","followers_url":"https://api.github.com/users/spyrbri/followers","following_url":"https://api.github.com/users/spyrbri/following{/other_user}","gists_url":"https://api.github.com/users/spyrbri/gists{/gist_id}","starred_url":"https://api.github.com/users/spyrbri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spyrbri/subscriptions","organizations_url":"https://api.github.com/users/spyrbri/orgs","repos_url":"https://api.github.com/users/spyrbri/repos","events_url":"https://api.github.com/users/spyrbri/events{/privacy}","received_events_url":"https://api.github.com/users/spyrbri/received_events","type":"User","site_admin":false,"name":"Spyros
        Brilis","company":null,"blog":null,"location":"Athens","email":"spyrbri@gmail.com","hireable":null,"bio":null,"public_repos":10,"public_gists":0,"followers":3,"following":8,"created_at":"2013-01-29T18:30:23Z","updated_at":"2015-10-19T15:54:19Z"}'
  recorded_at: Thu, 22 Oct 2015 19:21:59 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42993121
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 668421ce13ae4937095aa4ffe840ba0d79e9281f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1445543245'
      Last-Modified:
      - Wed, 23 Sep 2015 09:59:36 GMT
      Etag:
      - W/"9e7523e3d1fc9a6b89b30c874f12bc03"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":42993121,"name":"katana","full_name":"spyrbri/katana","owner":{"login":"spyrbri","id":3419713,"avatar_url":"https://avatars.githubusercontent.com/u/3419713?v=3","gravatar_id":"","url":"https://api.github.com/users/spyrbri","html_url":"https://github.com/spyrbri","followers_url":"https://api.github.com/users/spyrbri/followers","following_url":"https://api.github.com/users/spyrbri/following{/other_user}","gists_url":"https://api.github.com/users/spyrbri/gists{/gist_id}","starred_url":"https://api.github.com/users/spyrbri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spyrbri/subscriptions","organizations_url":"https://api.github.com/users/spyrbri/orgs","repos_url":"https://api.github.com/users/spyrbri/repos","events_url":"https://api.github.com/users/spyrbri/events{/privacy}","received_events_url":"https://api.github.com/users/spyrbri/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/spyrbri/katana","description":"Testributor
        is a web service from the future that can run your Ruby test suite at impossible
        speeds, so you and your team can get on with your dreams.","fork":true,"url":"https://api.github.com/repos/spyrbri/katana","forks_url":"https://api.github.com/repos/spyrbri/katana/forks","keys_url":"https://api.github.com/repos/spyrbri/katana/keys{/key_id}","collaborators_url":"https://api.github.com/repos/spyrbri/katana/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/spyrbri/katana/teams","hooks_url":"https://api.github.com/repos/spyrbri/katana/hooks","issue_events_url":"https://api.github.com/repos/spyrbri/katana/issues/events{/number}","events_url":"https://api.github.com/repos/spyrbri/katana/events","assignees_url":"https://api.github.com/repos/spyrbri/katana/assignees{/user}","branches_url":"https://api.github.com/repos/spyrbri/katana/branches{/branch}","tags_url":"https://api.github.com/repos/spyrbri/katana/tags","blobs_url":"https://api.github.com/repos/spyrbri/katana/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/spyrbri/katana/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/spyrbri/katana/git/refs{/sha}","trees_url":"https://api.github.com/repos/spyrbri/katana/git/trees{/sha}","statuses_url":"https://api.github.com/repos/spyrbri/katana/statuses/{sha}","languages_url":"https://api.github.com/repos/spyrbri/katana/languages","stargazers_url":"https://api.github.com/repos/spyrbri/katana/stargazers","contributors_url":"https://api.github.com/repos/spyrbri/katana/contributors","subscribers_url":"https://api.github.com/repos/spyrbri/katana/subscribers","subscription_url":"https://api.github.com/repos/spyrbri/katana/subscription","commits_url":"https://api.github.com/repos/spyrbri/katana/commits{/sha}","git_commits_url":"https://api.github.com/repos/spyrbri/katana/git/commits{/sha}","comments_url":"https://api.github.com/repos/spyrbri/katana/comments{/number}","issue_comment_url":"https://api.github.com/repos/spyrbri/katana/issues/comments{/number}","contents_url":"https://api.github.com/repos/spyrbri/katana/contents/{+path}","compare_url":"https://api.github.com/repos/spyrbri/katana/compare/{base}...{head}","merges_url":"https://api.github.com/repos/spyrbri/katana/merges","archive_url":"https://api.github.com/repos/spyrbri/katana/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/spyrbri/katana/downloads","issues_url":"https://api.github.com/repos/spyrbri/katana/issues{/number}","pulls_url":"https://api.github.com/repos/spyrbri/katana/pulls{/number}","milestones_url":"https://api.github.com/repos/spyrbri/katana/milestones{/number}","notifications_url":"https://api.github.com/repos/spyrbri/katana/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/spyrbri/katana/labels{/name}","releases_url":"https://api.github.com/repos/spyrbri/katana/releases{/id}","created_at":"2015-09-23T09:59:35Z","updated_at":"2015-09-23T09:59:36Z","pushed_at":"2015-09-22T20:04:45Z","git_url":"git://github.com/spyrbri/katana.git","ssh_url":"git@github.com:spyrbri/katana.git","clone_url":"https://github.com/spyrbri/katana.git","svn_url":"https://github.com/spyrbri/katana","homepage":"http://www.testributor.com","size":181,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":40374264,"name":"katana","full_name":"ispyropoulos/katana","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists[...]
- request:
    method: get
    uri: https://api.github.com/repositories/42993121/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 668421ce13ae4937095aa4ffe840ba0d79e9281f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1445543245'
      Etag:
      - W/"94ec2e2ba802dfae62ee40181d0e2f57"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"4a52aeefb159923fb01c303698d6cef3fe658b62","commit":{"author":{"name":"Spyros
        Brilis","email":"spyrbri@gmail.com","date":"2015-09-22T20:04:09Z"},"committer":{"name":"Spyros
        Brilis","email":"spyrbri@gmail.com","date":"2015-09-22T20:04:09Z"},"message":"fix
        oauth app creation","tree":{"sha":"b5024f3ba69164a006c9c47428d7f5a3a76b07b8","url":"https://api.github.com/repos/spyrbri/katana/git/trees/b5024f3ba69164a006c9c47428d7f5a3a76b07b8"},"url":"https://api.github.com/repos/spyrbri/katana/git/commits/4a52aeefb159923fb01c303698d6cef3fe658b62","comment_count":0},"url":"https://api.github.com/repos/spyrbri/katana/commits/4a52aeefb159923fb01c303698d6cef3fe658b62","html_url":"https://github.com/spyrbri/katana/commit/4a52aeefb159923fb01c303698d6cef3fe658b62","comments_url":"https://api.github.com/repos/spyrbri/katana/commits/4a52aeefb159923fb01c303698d6cef3fe658b62/comments","author":{"login":"spyrbri","id":3419713,"avatar_url":"https://avatars.githubusercontent.com/u/3419713?v=3","gravatar_id":"","url":"https://api.github.com/users/spyrbri","html_url":"[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repositories/42993121/git/trees/4a52aeefb159923fb01c303698d6cef3fe658b62?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 668421ce13ae4937095aa4ffe840ba0d79e9281f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1445543245'
      Last-Modified:
      - Wed, 23 Sep 2015 09:59:36 GMT
      Etag:
      - W/"0c03025a6cdf8541cc025755b33fdc20"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"4a52aeefb159923fb01c303698d6cef3fe658b62","url":"https://api.github.com/repos/spyrbri/katana/git/trees/4a52aeefb159923fb01c303698d6cef3fe658b62","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"4e5f0b5c8c34425bcb59b08cf53408510f42c233","size":560,"url":"https://api.github.com/repos/spyrbri/katana/git/blobs/4e5f0b5c8c34425bcb59b08cf53408510f42c233"},{"path":"Gemfile","mode":"100644","type":"blob","sha":"79b425ea8d002a41636eb8190a1e565dc90bfebe","size":1325,"url":"https://api.github.com/repos/spyrbri/katana/git/blobs/79b425ea8d002a41636eb8190a1e565dc90bfebe"},{"path":"Gemfile.lock","mode":"100644","type":"blob","sha":"cecc66022d286b9421b33880d9dd56405010b882[...]
