---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4915'
      X-Ratelimit-Reset:
      - '1447524536'
      Last-Modified:
      - Thu, 22 Oct 2015 18:39:17 GMT
      Etag:
      - W/"64659d9baf7cabb0ae00b0ee50883bf5"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false,"name":"Ilias
        Spyropoulos","company":"incrediblue","blog":"www.incrediblue.com","location":"Volos,
        Greece","email":"ilias@incrediblue.com","hireable":true,"bio":null,"public_repos":1,"public_gists":0,"followers":5,"following":9,"created_at":"2010-08-06T07:18:54Z","updated_at":"2015-10-22T18:39:17Z"}'
  recorded_at: Sat, 14 Nov 2015 17:56:40 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/24643354
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4914'
      X-Ratelimit-Reset:
      - '1447524536'
      Last-Modified:
      - Fri, 13 Nov 2015 11:56:32 GMT
      Etag:
      - W/"15bb39e73e43aedab25d4a3ccec4696c"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":24643354,"name":"intl-tel-input-rails","full_name":"ispyropoulos/intl-tel-input-rails","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ispyropoulos/intl-tel-input-rails","description":"intl-tel-input
        for the Rails asset pipeline","fork":false,"url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails","forks_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/forks","keys_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/teams","hooks_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/hooks","issue_events_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/issues/events{/number}","events_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/events","assignees_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/assignees{/user}","branches_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/branches{/branch}","tags_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/tags","blobs_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/statuses/{sha}","languages_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/languages","stargazers_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/stargazers","contributors_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/contributors","subscribers_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/subscribers","subscription_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/subscription","commits_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/contents/{+path}","compare_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/merges","archive_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/downloads","issues_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/issues{/number}","pulls_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/pulls{/number}","milestones_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/milestones{/number}","notifications_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/labels{/name}","releases_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/releases{/id}","created_at":"2014-09-30T15:23:45Z","updated_at":"2015-11-13T11:56:32Z","pushed_at":"2015-08-10T13:36:23Z","git_url":"git://github.com/ispyropoulos/intl-tel-input-rails.git","ssh_url":"git@github.com:ispyropoulos/intl-tel-input-rails.git","clone_url":"https://github.com/ispyropoulos/intl-tel-input-rails.git","svn_url":"https://github.com/ispyropoulos/intl-tel-input-rails","homepage":"","size":740,"stargazers_count":13,"watchers_count":13,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":9,"mirror_url":null,"open_issues_count":2,"forks":9,"open_issues":2,"watchers":13,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":9,"subscribers_count":2}'
  recorded_at: Sat, 14 Nov 2015 17:56:41 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/24643354/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4913'
      X-Ratelimit-Reset:
      - '1447524536'
      Etag:
      - W/"a47caca578ab8dd8ff86f9ca1245253e"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"082b3dfc8fbd8865241d8136b037fe30ca8d742b","commit":{"author":{"name":"Ilias
        Spyropoulos","email":"ispyropoulos@users.noreply.github.com","date":"2015-08-10T13:18:47Z"},"committer":{"name":"Ilias
        Spyropoulos","email":"ispyropoulos@users.noreply.github.com","date":"2015-08-10T13:18:47Z"},"message":"Merge
        pull request #6 from ispyropoulos/fix-assets\n\nMove vendor/assets to assets","tree":{"sha":"7f67943d0bd947beecf3cdf649f9dbaa0e2149dd","url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/trees/7f67943d0bd947beecf3cdf649f9dbaa0e2149dd"},"url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/commits/082b3dfc8fbd8865241d8136b037fe30ca8d742b","comment_count":0},"url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/commits/082b3dfc8fbd8865241d8136b037fe30ca8d742b","html_url":"https://github.com/ispyropoulos/intl-tel-input-rails/commit/082b3dfc8fbd8865241d8136b037fe30ca8d742b","comments_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/commits/082b3dfc8fbd8865241d8136b037fe30ca8d742b/comments","author":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repositories/24643354/contents/testributor.yml?ref=082b3dfc8fbd8865241d8136b037fe30ca8d742b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1447524536'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sat, 14 Nov 2015 17:56:44 GMT
recorded_with: VCR 2.9.3
