---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token d903e23e744fc5eb78666137fe1afdd604ffc859
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1471441780'
      Etag:
      - W/"6cce4bea376f2bb630e1a86dbe76136c"
      Last-Modified:
      - Wed, 17 Aug 2016 10:28:48 GMT
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"testributor-github-api-test-user-public","id":21079335,"avatar_url":"https://avatars.githubusercontent.com/u/21079335?v=3","gravatar_id":"","url":"https://api.github.com/users/testributor-github-api-test-user-public","html_url":"https://github.com/testributor-github-api-test-user-public","followers_url":"https://api.github.com/users/testributor-github-api-test-user-public/followers","following_url":"https://api.github.com/users/testributor-github-api-test-user-public/following{/other_user}","gists_url":"https://api.github.com/users/testributor-github-api-test-user-public/gists{/gist_id}","starred_url":"https://api.github.com/users/testributor-github-api-test-user-public/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/testributor-github-api-test-user-public/subscriptions","organizations_url":"https://api.github.com/users/testributor-github-api-test-user-public/orgs","repos_url":"https://api.github.com/users/testributor-github-api-test-user-public/repos","events_url":"https://api.github.com/users/testributor-github-api-test-user-public/events{/privacy}","received_events_url":"https://api.github.com/users/testributor-github-api-test-user-public/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":"testributor-github-api-test-user+public-access@testributor.com","hireable":null,"bio":null,"public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2016-08-17T10:27:41Z","updated_at":"2016-08-17T10:28:48Z"}'
  recorded_at: Wed, 17 Aug 2016 12:50:55 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token d903e23e744fc5eb78666137fe1afdd604ffc859
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1471441780'
      Etag:
      - W/"8173f99bad6be04ce76a1ba80f42113b"
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":65898814,"name":"test-project-1","full_name":"testributor-github-api-test-user-public/test-project-1","owner":{"login":"testributor-github-api-test-user-public","id":21079335,"avatar_url":"https://avatars.githubusercontent.com/u/21079335?v=3","gravatar_id":"","url":"https://api.github.com/users/testributor-github-api-test-user-public","html_url":"https://github.com/testributor-github-api-test-user-public","followers_url":"https://api.github.com/users/testributor-github-api-test-user-public/followers","following_url":"https://api.github.com/users/testributor-github-api-test-user-public/following{/other_user}","gists_url":"https://api.github.com/users/testributor-github-api-test-user-public/gists{/gist_id}","starred_url":"https://api.github.com/users/testributor-github-api-test-user-public/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/testributor-github-api-test-user-public/subscriptions","organizations_url":"https://api.github.com/users/testributor-github-api-test-user-public/orgs","repos_url":"https://api.github.com/users/testributor-github-api-test-user-public/repos","events_url":"https://api.github.com/users/testributor-github-api-test-user-public/events{/privacy}","received_events_url":"https://api.github.com/users/testributor-github-api-test-user-public/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/testributor-github-api-test-user-public/test-project-1","description":null,"fork":false,"url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1","forks_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/forks","keys_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/teams","hooks_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/hooks","issue_events_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/issues/events{/number}","events_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/events","assignees_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/assignees{/user}","branches_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/branches{/branch}","tags_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/tags","blobs_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/statuses/{sha}","languages_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/languages","stargazers_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/stargazers","contributors_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/contributors","subscribers_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/subscribers","subscription_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/subscription","commits_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/contents/{+path}","compare_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/merges","archive_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/downloads","issues_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/issues{/number}","pulls_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/pulls{/number}","milestones_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/milestones{/number}","notifications_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/labels{/name}","releases_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/releases{/id}","deployments_url":"https://api.github.com/repos/testributor-github-api-test-user-public/test-project-1/deployments","created_at":"2016-08-17T10:28:59Z","updated_at":"2016-08-17T10:28:59Z","pushed_at":"2016-08-17T10:29:00Z","git_url":"git://github.com/testributor-github-api-test-user-public/test-project-1.git","ssh_url":"git@github.com:testributor-github-api-test-user-public/test-project-1.git","clone_url":"https://github.com/testributor-github-api-test-user-public/test-project-1.git","svn_url":"https://github.com/testributor-github-api-test-user-public/test-project-1","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Wed, 17 Aug 2016 12:50:56 GMT
[...]
