---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 6958771a03001a069b7d1952cb2404485f4ef35d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1471441501'
      Etag:
      - W/"f56adef10f7c94c18a63c43a78cce0ed"
      Last-Modified:
      - Wed, 17 Aug 2016 10:36:05 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"testributor-github-api-test-user","id":21078249,"avatar_url":"https://avatars.githubusercontent.com/u/21078249?v=3","gravatar_id":"","url":"https://api.github.com/users/testributor-github-api-test-user","html_url":"https://github.com/testributor-github-api-test-user","followers_url":"https://api.github.com/users/testributor-github-api-test-user/followers","following_url":"https://api.github.com/users/testributor-github-api-test-user/following{/other_user}","gists_url":"https://api.github.com/users/testributor-github-api-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/testributor-github-api-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/testributor-github-api-test-user/subscriptions","organizations_url":"https://api.github.com/users/testributor-github-api-test-user/orgs","repos_url":"https://api.github.com/users/testributor-github-api-test-user/repos","events_url":"https://api.github.com/users/testributor-github-api-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/testributor-github-api-test-user/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":"testributor-github-api-test-user@testributor.com","hireable":null,"bio":null,"public_repos":5,"public_gists":0,"followers":0,"following":0,"created_at":"2016-08-17T09:23:30Z","updated_at":"2016-08-17T10:36:05Z"}'
  recorded_at: Wed, 17 Aug 2016 12:49:25 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 6958771a03001a069b7d1952cb2404485f4ef35d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1471441501'
      Etag:
      - W/"2e02ee518dedb94cee5bdfbc12623dc4"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":21267581,"name":"aroma-kouzinas","full_name":"ispyropoulos/aroma-kouzinas","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/ispyropoulos/aroma-kouzinas","description":"An
        app to order food.","fork":false,"url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas","forks_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/forks","keys_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/teams","hooks_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/hooks","issue_events_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/issues/events{/number}","events_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/events","assignees_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/assignees{/user}","branches_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/branches{/branch}","tags_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/tags","blobs_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/refs{/sha}","trees_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/statuses/{sha}","languages_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/languages","stargazers_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/stargazers","contributors_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/contributors","subscribers_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/subscribers","subscription_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/subscription","commits_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/commits{/sha}","git_commits_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/commits{/sha}","comments_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/comments{/number}","issue_comment_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/issues/comments{/number}","contents_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/contents/{+path}","compare_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/merges","archive_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/downloads","issues_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/issues{/number}","pulls_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/pulls{/number}","milestones_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/milestones{/number}","notifications_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/labels{/name}","releases_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/releases{/id}","deployments_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/deployments","created_at":"2014-06-27T07:28:00Z","updated_at":"2016-08-17T10:09:49Z","pushed_at":"2014-07-25T21:39:29Z","git_url":"git://github.com/ispyropoulos/aroma-kouzinas.git","ssh_url":"git@github.com:ispyropoulos/aroma-kouzinas.git","clone_url":"https://github.com/ispyropoulos/aroma-kouzinas.git","svn_url":"https://github.com/ispyropoulos/aroma-kouzinas","homepage":null,"size":272,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":65905261,"name":"agent","full_name":"testributor-github-api-test-user/agent","owner":{"login":"testributor-github-api-test-user","id":21078249,"avatar_url":"https://avatars.githubusercontent.com/u/21078249?v=3","gravatar_id":"","url":"https://api.github.com/users/testributor-github-api-test-user","html_url":"https://github.com/testributor-github-api-test-user","followers_url":"https://api.github.com/users/testributor-github-api-test-user/followers","following_url":"https://api.githu[...]
[...]
