---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token d903e23e744fc5eb78666137fe1afdd604ffc859
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1471441780'
      Etag:
      - W/"6cce4bea376f2bb630e1a86dbe76136c"
      Last-Modified:
      - Wed, 17 Aug 2016 10:28:48 GMT
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 513c5c767340cfe2667f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"testributor-github-api-test-user-public","id":21079335,"avatar_url":"https://avatars.githubusercontent.com/u/21079335?v=3","gravatar_id":"","url":"https://api.github.com/users/testributor-github-api-test-user-public","html_url":"https://github.com/testributor-github-api-test-user-public","followers_url":"https://api.github.com/users/testributor-github-api-test-user-public/followers","following_url":"https://api.github.com/users/testributor-github-api-test-user-public/following{/other_user}","gists_url":"https://api.github.com/users/testributor-github-api-test-user-public/gists{/gist_id}","starred_url":"https://api.github.com/users/testributor-github-api-test-user-public/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/testributor-github-api-test-user-public/subscriptions","organizations_url":"https://api.github.com/users/testributor-github-api-test-user-public/orgs","repos_url":"https://api.github.com/users/testributor-github-api-test-user-public/repos","events_url":"https://api.github.com/users/testributor-github-api-test-user-public/events{/privacy}","received_events_url":"https://api.github.com/users/testributor-github-api-test-user-public/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":"testributor-github-api-test-user+public-access@testributor.com","hireable":null,"bio":null,"public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2016-08-17T10:27:41Z","updated_at":"2016-08-17T10:28:48Z"}'
  recorded_at: Wed, 17 Aug 2016 12:50:51 GMT
recorded_with: VCR 2.9.3
