---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?page=2&per_page=3&type=owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1454687140'
      Etag:
      - W/"107351be74944ebf5b55f2b6f6dd2e7c"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=3&per_page=3&type=owner>; rel="next",
        <https://api.github.com/user/repos?page=4&per_page=3&type=owner>; rel="last",
        <https://api.github.com/user/repos?page=1&per_page=3&type=owner>; rel="first",
        <https://api.github.com/user/repos?page=1&per_page=3&type=owner>; rel="prev"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":24643354,"name":"intl-tel-input-rails","full_name":"ispyropoulos/intl-tel-input-rails","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ispyropoulos/intl-tel-input-rails","description":"intl-tel-input
        for the Rails asset pipeline","fork":false,"url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails","forks_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/forks","keys_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/teams","hooks_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/hooks","issue_events_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/issues/events{/number}","events_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/events","assignees_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/assignees{/user}","branches_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/branches{/branch}","tags_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/tags","blobs_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/statuses/{sha}","languages_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/languages","stargazers_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/stargazers","contributors_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/contributors","subscribers_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/subscribers","subscription_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/subscription","commits_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/contents/{+path}","compare_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/merges","archive_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/downloads","issues_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/issues{/number}","pulls_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/pulls{/number}","milestones_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/milestones{/number}","notifications_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/labels{/name}","releases_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/releases{/id}","deployments_url":"https://api.github.com/repos/ispyropoulos/intl-tel-input-rails/deployments","created_at":"2014-09-30T15:23:45Z","updated_at":"2016-01-01T23:49:52Z","pushed_at":"2015-08-10T13:36:23Z","git_url":"git://github.com/ispyropoulos/intl-tel-input-rails.git","ssh_url":"git@github.com:ispyropoulos/intl-tel-input-rails.git","clone_url":"https://github.com/ispyropoulos/intl-tel-input-rails.git","svn_url":"https://github.com/ispyropoulos/intl-tel-input-rails","homepage":"","size":740,"stargazers_count":11,"watchers_count":11,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":10,"mirror_url":null,"open_issues_count":3,"forks":10,"open_issues":3,"watchers":11,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":40374264,"name":"katana","full_name":"ispyropoulos/katana","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulo[...]
