---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?page=4&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1467890390'
      Etag:
      - W/"c0e596d21eb0fdb1f783c2c6a70c097e"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=5&per_page=6>; rel="next", <https://api.github.com/user/repos?page=5&per_page=6>;
        rel="last", <https://api.github.com/user/repos?page=1&per_page=6>; rel="first",
        <https://api.github.com/user/repos?page=3&per_page=6>; rel="prev"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":42260766,"name":"katana","full_name":"pakallis/katana","owner":{"login":"pakallis","id":1080476,"avatar_url":"https://avatars.githubusercontent.com/u/1080476?v=3","gravatar_id":"","url":"https://api.github.com/users/pakallis","html_url":"https://github.com/pakallis","followers_url":"https://api.github.com/users/pakallis/followers","following_url":"https://api.github.com/users/pakallis/following{/other_user}","gists_url":"https://api.github.com/users/pakallis/gists{/gist_id}","starred_url":"https://api.github.com/users/pakallis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pakallis/subscriptions","organizations_url":"https://api.github.com/users/pakallis/orgs","repos_url":"https://api.github.com/users/pakallis/repos","events_url":"https://api.github.com/users/pakallis/events{/privacy}","received_events_url":"https://api.github.com/users/pakallis/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/pakallis/katana","description":"Testributor
        is a web service from the future that can run your Ruby test suite at impossible
        speeds, so you and your team can get on with your dreams.","fork":true,"url":"https://api.github.com/repos/pakallis/katana","forks_url":"https://api.github.com/repos/pakallis/katana/forks","keys_url":"https://api.github.com/repos/pakallis/katana/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pakallis/katana/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pakallis/katana/teams","hooks_url":"https://api.github.com/repos/pakallis/katana/hooks","issue_events_url":"https://api.github.com/repos/pakallis/katana/issues/events{/number}","events_url":"https://api.github.com/repos/pakallis/katana/events","assignees_url":"https://api.github.com/repos/pakallis/katana/assignees{/user}","branches_url":"https://api.github.com/repos/pakallis/katana/branches{/branch}","tags_url":"https://api.github.com/repos/pakallis/katana/tags","blobs_url":"https://api.github.com/repos/pakallis/katana/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pakallis/katana/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pakallis/katana/git/refs{/sha}","trees_url":"https://api.github.com/repos/pakallis/katana/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pakallis/katana/statuses/{sha}","languages_url":"https://api.github.com/repos/pakallis/katana/languages","stargazers_url":"https://api.github.com/repos/pakallis/katana/stargazers","contributors_url":"https://api.github.com/repos/pakallis/katana/contributors","subscribers_url":"https://api.github.com/repos/pakallis/katana/subscribers","subscription_url":"https://api.github.com/repos/pakallis/katana/subscription","commits_url":"https://api.github.com/repos/pakallis/katana/commits{/sha}","git_commits_url":"https://api.github.com/repos/pakallis/katana/git/commits{/sha}","comments_url":"https://api.github.com/repos/pakallis/katana/comments{/number}","issue_comment_url":"https://api.github.com/repos/pakallis/katana/issues/comments{/number}","contents_url":"https://api.github.com/repos/pakallis/katana/contents/{+path}","compare_url":"https://api.github.com/repos/pakallis/katana/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pakallis/katana/merges","archive_url":"https://api.github.com/repos/pakallis/katana/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pakallis/katana/downloads","issues_url":"https://api.github.com/repos/pakallis/katana/issues{/number}","pulls_url":"https://api.github.com/repos/pakallis/katana/pulls{/number}","milestones_url":"https://api.github.com/repos/pakallis/katana/milestones{/number}","notifications_url":"https://api.github.com/repos/pakallis/katana/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pakallis/katana/labels{/name}","releases_url":"https://api.github.com/repos/pakallis/katana/releases{/id}","deployments_url":"https://api.github.com/repos/pakallis/katana/deployments","created_at":"2015-09-10T17:47:50Z","updated_at":"2015-09-10T17:47:51Z","pushed_at":"2016-05-13T10:07:52Z","git_url":"git://github.com/pakallis/katana.git","ssh_url":"git@github.com:pakallis/katana.git","clone_url":"https://github.com/pakallis/katana.git","svn_url":"https://github.com/pakallis/katana","homepage":"http://www.testributor.com","size":59,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":39199967,"name":"MovieRama","full_name":"peliav/MovieRama","owner":{"login":"peliav","id":6985910,"avatar_url":"https://avatars.githubusercontent.com/u/6985910?v=3","gravatar_id":"","url":"https://api.github.com/users/peliav","html_url":"https://github.com/peliav","followers_url":"https://api.github.com/users/peliav/followers","following_url":"https://api.github.com/users/peliav/following{/other_user}","gists_url":"https://api.github.com/users/peliav/gists{/gist_id}","starred_url":"[...]
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1467890390'
      Etag:
      - W/"689a8b6c3111c538a61ffd307d1e8bba"
      Last-Modified:
      - Wed, 22 Jun 2016 20:22:35 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false,"name":"Ilias
        Spyropoulos","company":"Testributor","blog":"http://www.testributor.com","location":"Volos,
        Greece","email":"ilias@testributor.com","hireable":true,"bio":null,"public_repos":4,"public_gists":0,"followers":7,"following":9,"created_at":"2010-08-06T07:18:54Z","updated_at":"2016-06-22T20:22:35Z"}'
  recorded_at: Thu, 07 Jul 2016 10:48:53 GMT
recorded_with: VCR 2.9.3
