---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4720'
      X-Ratelimit-Reset:
      - '1447758939'
      Last-Modified:
      - Thu, 22 Oct 2015 18:39:17 GMT
      Etag:
      - W/"2a2a25bc4db832eba422ea5467aef3a1"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false,"name":"Ilias
        Spyropoulos","company":"incrediblue","blog":"www.incrediblue.com","location":"Volos,
        Greece","email":"ilias@incrediblue.com","hireable":true,"bio":null,"public_repos":2,"public_gists":0,"followers":5,"following":9,"created_at":"2010-08-06T07:18:54Z","updated_at":"2015-10-22T18:39:17Z"}'
  recorded_at: Tue, 17 Nov 2015 10:45:44 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4717'
      X-Ratelimit-Reset:
      - '1447758939'
      Etag:
      - W/"5fc05ab842d25bd966c840c3b39126fe"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":19821930,"name":"bootstrap-datepicker","full_name":"Incrediblue/bootstrap-datepicker","owner":{"login":"Incrediblue","id":1703743,"avatar_url":"https://avatars.githubusercontent.com/u/1703743?v=3","gravatar_id":"","url":"https://api.github.com/users/Incrediblue","html_url":"https://github.com/Incrediblue","followers_url":"https://api.github.com/users/Incrediblue/followers","following_url":"https://api.github.com/users/Incrediblue/following{/other_user}","gists_url":"https://api.github.com/users/Incrediblue/gists{/gist_id}","starred_url":"https://api.github.com/users/Incrediblue/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Incrediblue/subscriptions","organizations_url":"https://api.github.com/users/Incrediblue/orgs","repos_url":"https://api.github.com/users/Incrediblue/repos","events_url":"https://api.github.com/users/Incrediblue/events{/privacy}","received_events_url":"https://api.github.com/users/Incrediblue/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/Incrediblue/bootstrap-datepicker","description":"A
        datepicker for @twitter bootstrap forked from Stefan Petre''s (of eyecon.ro),
        improvements by @eternicode","fork":true,"url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker","forks_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/forks","keys_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/teams","hooks_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/hooks","issue_events_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/issues/events{/number}","events_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/events","assignees_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/assignees{/user}","branches_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/branches{/branch}","tags_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/tags","blobs_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/git/refs{/sha}","trees_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/statuses/{sha}","languages_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/languages","stargazers_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/stargazers","contributors_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/contributors","subscribers_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/subscribers","subscription_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/subscription","commits_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/commits{/sha}","git_commits_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/git/commits{/sha}","comments_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/comments{/number}","issue_comment_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/issues/comments{/number}","contents_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/contents/{+path}","compare_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/merges","archive_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/downloads","issues_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/issues{/number}","pulls_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/pulls{/number}","milestones_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/milestones{/number}","notifications_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/labels{/name}","releases_url":"https://api.github.com/repos/Incrediblue/bootstrap-datepicker/releases{/id}","created_at":"2014-05-15T14:16:13Z","updated_at":"2014-05-15T14:16:14Z","pushed_at":"2014-01-31T21:56:52Z","git_url":"git://github.com/Incrediblue/bootstrap-datepicker.git","ssh_url":"git@github.com:Incrediblue/bootstrap-datepicker.git","clone_url":"https://github.com/Incrediblue/bootstrap-datepicker.git","svn_url":"https://github.com/Incrediblue/bootstrap-datepicker","homepage":"","size":4565,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":36438385,"name":"ib-pbx-lookup","full_name":"Incrediblue/ib-pbx-lookup","owner":{"login":"Incrediblue","id":1703743,"avatar_url":"https://avatars.githubusercontent.com/u/1703743?v=3","gravatar_id":"","url":"https://api.github.com/users/Incrediblue","html_url":"https://github.com/Incrediblue","followers_url":"https://api.github.com/users/Incrediblue/followers","following_url":"https://api.github.com/users/Incrediblue/following{/other_user}","gists_url":"https://api.github.com/users/I[...]
[...]
