---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?page=2&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1468401481'
      Etag:
      - W/"f4e5145d6a4404ff74bff777018a682c"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=3&per_page=6>; rel="next", <https://api.github.com/user/repos?page=5&per_page=6>;
        rel="last", <https://api.github.com/user/repos?page=1&per_page=6>; rel="first",
        <https://api.github.com/user/repos?page=1&per_page=6>; rel="prev"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":55339082,"name":"Ghost","full_name":"ispyropoulos/Ghost","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ispyropoulos/Ghost","description":"Just
        a blogging platform","fork":true,"url":"https://api.github.com/repos/ispyropoulos/Ghost","forks_url":"https://api.github.com/repos/ispyropoulos/Ghost/forks","keys_url":"https://api.github.com/repos/ispyropoulos/Ghost/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ispyropoulos/Ghost/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ispyropoulos/Ghost/teams","hooks_url":"https://api.github.com/repos/ispyropoulos/Ghost/hooks","issue_events_url":"https://api.github.com/repos/ispyropoulos/Ghost/issues/events{/number}","events_url":"https://api.github.com/repos/ispyropoulos/Ghost/events","assignees_url":"https://api.github.com/repos/ispyropoulos/Ghost/assignees{/user}","branches_url":"https://api.github.com/repos/ispyropoulos/Ghost/branches{/branch}","tags_url":"https://api.github.com/repos/ispyropoulos/Ghost/tags","blobs_url":"https://api.github.com/repos/ispyropoulos/Ghost/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ispyropoulos/Ghost/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ispyropoulos/Ghost/git/refs{/sha}","trees_url":"https://api.github.com/repos/ispyropoulos/Ghost/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ispyropoulos/Ghost/statuses/{sha}","languages_url":"https://api.github.com/repos/ispyropoulos/Ghost/languages","stargazers_url":"https://api.github.com/repos/ispyropoulos/Ghost/stargazers","contributors_url":"https://api.github.com/repos/ispyropoulos/Ghost/contributors","subscribers_url":"https://api.github.com/repos/ispyropoulos/Ghost/subscribers","subscription_url":"https://api.github.com/repos/ispyropoulos/Ghost/subscription","commits_url":"https://api.github.com/repos/ispyropoulos/Ghost/commits{/sha}","git_commits_url":"https://api.github.com/repos/ispyropoulos/Ghost/git/commits{/sha}","comments_url":"https://api.github.com/repos/ispyropoulos/Ghost/comments{/number}","issue_comment_url":"https://api.github.com/repos/ispyropoulos/Ghost/issues/comments{/number}","contents_url":"https://api.github.com/repos/ispyropoulos/Ghost/contents/{+path}","compare_url":"https://api.github.com/repos/ispyropoulos/Ghost/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ispyropoulos/Ghost/merges","archive_url":"https://api.github.com/repos/ispyropoulos/Ghost/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ispyropoulos/Ghost/downloads","issues_url":"https://api.github.com/repos/ispyropoulos/Ghost/issues{/number}","pulls_url":"https://api.github.com/repos/ispyropoulos/Ghost/pulls{/number}","milestones_url":"https://api.github.com/repos/ispyropoulos/Ghost/milestones{/number}","notifications_url":"https://api.github.com/repos/ispyropoulos/Ghost/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ispyropoulos/Ghost/labels{/name}","releases_url":"https://api.github.com/repos/ispyropoulos/Ghost/releases{/id}","deployments_url":"https://api.github.com/repos/ispyropoulos/Ghost/deployments","created_at":"2016-04-03T09:31:17Z","updated_at":"2016-04-03T09:31:22Z","pushed_at":"2016-04-03T02:40:52Z","git_url":"git://github.com/ispyropoulos/Ghost.git","ssh_url":"git@github.com:ispyropoulos/Ghost.git","clone_url":"https://github.com/ispyropoulos/Ghost.git","svn_url":"https://github.com/ispyropoulos/Ghost","homepage":"https://ghost.org","size":49610,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":24643354,"name":"intl-tel-input-rails","full_name":"ispyropoulos/intl-tel-input-rails","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1468401481'
      Etag:
      - W/"adfc6d59dc52edf6ef15717599a121a5"
      Last-Modified:
      - Fri, 08 Jul 2016 14:27:16 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false,"name":"Ilias
        Spyropoulos","company":"Testributor","blog":"https://www.testributor.com","location":"Greece","email":"ilias@testributor.com","hireable":true,"bio":"We
        reimagined how a Continuous Integration service should be! If you are a developer,
        come and join us @testributor. We''ve been expecting you!","public_repos":4,"public_gists":0,"followers":8,"following":9,"created_at":"2010-08-06T07:18:54Z","updated_at":"2016-07-08T14:27:16Z"}'
  recorded_at: Wed, 13 Jul 2016 08:43:01 GMT
recorded_with: VCR 2.9.3
