---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1468339582'
      Etag:
      - W/"9ff60a1ef9431e2444423dbfcec3929d"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?per_page=10&page=2>; rel="next", <https://api.github.com/user/repos?per_page=10&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":62787090,"name":"agent","full_name":"ispyropoulos/agent","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/ispyropoulos/agent","description":"Testributor
        agent re-written in Go language for maximum portability","fork":false,"url":"https://api.github.com/repos/ispyropoulos/agent","forks_url":"https://api.github.com/repos/ispyropoulos/agent/forks","keys_url":"https://api.github.com/repos/ispyropoulos/agent/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ispyropoulos/agent/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ispyropoulos/agent/teams","hooks_url":"https://api.github.com/repos/ispyropoulos/agent/hooks","issue_events_url":"https://api.github.com/repos/ispyropoulos/agent/issues/events{/number}","events_url":"https://api.github.com/repos/ispyropoulos/agent/events","assignees_url":"https://api.github.com/repos/ispyropoulos/agent/assignees{/user}","branches_url":"https://api.github.com/repos/ispyropoulos/agent/branches{/branch}","tags_url":"https://api.github.com/repos/ispyropoulos/agent/tags","blobs_url":"https://api.github.com/repos/ispyropoulos/agent/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ispyropoulos/agent/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ispyropoulos/agent/git/refs{/sha}","trees_url":"https://api.github.com/repos/ispyropoulos/agent/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ispyropoulos/agent/statuses/{sha}","languages_url":"https://api.github.com/repos/ispyropoulos/agent/languages","stargazers_url":"https://api.github.com/repos/ispyropoulos/agent/stargazers","contributors_url":"https://api.github.com/repos/ispyropoulos/agent/contributors","subscribers_url":"https://api.github.com/repos/ispyropoulos/agent/subscribers","subscription_url":"https://api.github.com/repos/ispyropoulos/agent/subscription","commits_url":"https://api.github.com/repos/ispyropoulos/agent/commits{/sha}","git_commits_url":"https://api.github.com/repos/ispyropoulos/agent/git/commits{/sha}","comments_url":"https://api.github.com/repos/ispyropoulos/agent/comments{/number}","issue_comment_url":"https://api.github.com/repos/ispyropoulos/agent/issues/comments{/number}","contents_url":"https://api.github.com/repos/ispyropoulos/agent/contents/{+path}","compare_url":"https://api.github.com/repos/ispyropoulos/agent/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ispyropoulos/agent/merges","archive_url":"https://api.github.com/repos/ispyropoulos/agent/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ispyropoulos/agent/downloads","issues_url":"https://api.github.com/repos/ispyropoulos/agent/issues{/number}","pulls_url":"https://api.github.com/repos/ispyropoulos/agent/pulls{/number}","milestones_url":"https://api.github.com/repos/ispyropoulos/agent/milestones{/number}","notifications_url":"https://api.github.com/repos/ispyropoulos/agent/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ispyropoulos/agent/labels{/name}","releases_url":"https://api.github.com/repos/ispyropoulos/agent/releases{/id}","deployments_url":"https://api.github.com/repos/ispyropoulos/agent/deployments","created_at":"2016-07-07T08:00:56Z","updated_at":"2016-07-07T10:33:44Z","pushed_at":"2016-07-12T14:43:39Z","git_url":"git://github.com/ispyropoulos/agent.git","ssh_url":"git@github.com:ispyropoulos/agent.git","clone_url":"https://github.com/ispyropoulos/agent.git","svn_url":"https://github.com/ispyropoulos/agent","homepage":null,"size":30,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":21267581,"name":"aroma-kouzinas","full_name":"ispyropoulos/aroma-kouzinas","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/u[...]
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1468339582'
      Etag:
      - W/"adfc6d59dc52edf6ef15717599a121a5"
      Last-Modified:
      - Fri, 08 Jul 2016 14:27:16 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false,"name":"Ilias
        Spyropoulos","company":"Testributor","blog":"https://www.testributor.com","location":"Greece","email":"ilias@testributor.com","hireable":true,"bio":"We
        reimagined how a Continuous Integration service should be! If you are a developer,
        come and join us @testributor. We''ve been expecting you!","public_repos":4,"public_gists":0,"followers":8,"following":9,"created_at":"2010-08-06T07:18:54Z","updated_at":"2016-07-08T14:27:16Z"}'
  recorded_at: Tue, 12 Jul 2016 15:06:23 GMT
recorded_with: VCR 2.9.3
