TestJobs with non terminal status that belong in a TestRun with a terminal status
exist in the database. Since these records might affect the workload calculation
or other statistics, please take any action required to cleanup the mess.
%br
Thank you,
TestributorMailer
