%header
  %section.top-section
    .container
      .row.nav-wrapper
        %nav.navbar.navbar-custom
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_path do
                %div.navbar-brand.text-right-logo
                  %img{alt: "logo", src: image_path("logo.png")}
                  %h2 Testributor
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a.btn.btn-custom{href: new_user_session_path} Log in
                %li
                  %a.disabled.w-lg.btn.btn-tb-primary.btn-custom{href: new_user_registration_path} Sign Up
      .row.hero-content
        .col-xs-10.col-xs-offset-1
          %h1.main-title Testing, as it should be
          %p.main-text
            If you are a programmer, you are probably familiar with the joys of
            code testing. You are probably also aware that, in the real world,
            test suites can get really big. The bigger and the more complete
            the test suites are, the more substantial the time penalty that
            programmers experience is. We are a humble team of programmers who
            had to deal with exactly this pain as yourself, but no more.
          %p.main-text
            We created Testributor - an online service that aspires to help you
            with the time consuming aspect of running testing. Testributor will
            help you to magically slice up your suite and transparently run all
            its “pieces” in parallel, on your computers or ours. In addition,
            we are giving you a beautiful web UI, which is engineered with
            simplicity in mind, to let you monitor your suite statuses and
            track your breaking tests effortlessly.
          .cta-container
            %a.btn-cta.disabled.w-lg.btn.btn-tb-primary.btn-custom{href: new_user_registration_path} Sign up for beta

  %section.features
    .container
      .row.hero-content
        .col-xs-10.col-xs-offset-1
          %h2.main-title Features
          %ul.feature-list
            %li Run your tests in parallel batches with smart distribution
            %li You are in charge of how your test suite is sliced up
            %li Utilise your spare CPU cores to easily run your own workers
            %li Set up your private workers with near-zero configuration
            %li Opt for completely hassle-free managed cloud workers(coming soon)
            %li Slick, beautiful web based UI
            %li Re-run your individual breaking tests with a single click
            %li Smart noise-free notification system (coming soon)
            %li
              Architectured using <a class='main-link' href="https://www.docker.com/what-docker">
              Docker</a> technology to support
              a limitless range of dependencies

  %section
    .container
      .row.hero-content
        .col-xs-10.col-xs-offset-1
          %h2.main-title Beta Terms
          %p.main-text
            There are a few simple things we would like you know about before
            signing up. Testributor is going to be in Beta phase for a
            few weeks. What does this mean? Basically, it means that every now
            and then you may hit a few bumps while running your tests. Fear not
            though. We are here to help  everything you come across. In fact,
            we do count a lot on your feedback and we want you to report to us
            every small or big problem you encounter.
            Of course, we want to give you something in return.
          %p.main-text
            Every <strong>verified</strong> account that will open
            during the Beta period will be eligible for a totally free, special
            plan, when we come out of the Beta! The only thing you have to do is
            just use the Testributor service and set up your worker(s) and run
            <strong>at least one</strong> of your test suites. We are confident that you will
            love it! Check our list of
            = link_to "supported technologies.", pages_path('faqs'), class: 'main-link'
            to make sure that you have a smoother experience.
          .cta-container
            %a.btn-cta.disabled.w-lg.btn.btn-tb-primary.btn-custom{href: new_user_registration_path} Sign up for beta
