#page
  = render partial: 'layouts/header_front'
  %main
    %section
      .container
        .row
          .col-xs-10.col-xs-offset-1
            %h1.main-title
              About us
            %p.inner-text
              If you are a programmer, you are probably familiar with the joys of
              code testing. You are probably also aware that, in the real world,
              test suites can get really big. The bigger and the more complete the
              test suites are, the more substantial the time penalty that
              programmers experience is. We are a humble team of programmers who
              had to deal with exactly this pain as yourself, but no more.
            %p.inner-text
              We created Testributor - an online service which helps you
              with the time consuming aspect of testing. Testributor will
              help you to magically slice up your suite and transparently run all
              its “pieces” in parallel, on your computers or ours. In addition, we
              are giving you a beautiful web UI, which is engineered with simplicity
              in mind, to let you monitor your suite statuses and track your
              breaking tests effortlessly.
= render partial: 'layouts/footer_front'
