- breadcrumb :api_credentials, current_project

- content_for :page_title do
  API Credentials

Here are your application credentials:
.key
  Client id :
  = @project.oauth_application.uid
.secret
  Client Secret :
  = @project.oauth_application.secret
