*, p, a, h1, h2, h3, h4, h5, h6 {
  color: white;
}

html, body {
  background-color: #383861;
}

form * {
  color: #424242;
}

.btn-cta {
  padding: 25px 65px;
  font-size: 20px;
}

.submit-email-group {
  @media screen and (max-width: $screen-xs-max) {
    * {
      display: block;
      margin: 20px auto 0 auto;
    }
  }
}

.submit-email-content {
  margin: 30px 0;
}
.submit-email-input {
  min-width: 300px;
  padding: 10px 16px;
  border: 1px solid #5A5A9A;
  vertical-align: middle;
  border-radius: 2px;
}

.top-section {
  padding: 30px 0 0 0;
}

.hero-content {
  margin: 40px 0 60px 0;
}

.main-title {
  font-weight: bold;
  font-size: 65px;
  @media screen and (max-width: $screen-xs-max) {
    font-size: 45px;
  }
}

.main-text {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.9;

  @media screen and (max-width: $screen-xs-max) {
    font-size: 18px;
  }
}

.inner-text {
  font-size: 15px;
  line-height: 1.9;
}

.main-link {
  text-decoration: underline;
}

.feature-list {
  margin-top: 40px;
  font-size: 20px;
  @media screen and (max-width: $screen-xs-max) {
    font-size: 18px;
  }

  li {
    margin-top: 20px;
  }
}

.cta-container {
  margin-top: 60px;
}

.features {
  background-color: #5A5A9A;
}

.btn-tb-primary {
  border: 2px solid white;
  font-weight: bold;
}

.panel.panel-primary.panel-color {
  border: 1px solid #7F7FD8;
}

.panel.panel-primary .panel-heading {
  background-color: #4F4F86;
}
