%p
  In this file you can put any commands needed before your test suite is run.
  It is a bash script and it will run in an Ubuntu 14.04 system. If you find that
  a needed package is missing you can use "apt-get" to install it.

%p
  You can also run commands to create your database (like 'rake db:create' in
  Run on Rails).
