body {
  padding-top: 50px;
  background: whitesmoke;
}

* {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  padding: 40px 15px;
}

h2 {
  font-size: 29px;
  font-weight: 900;
  padding: 10px 15px;
}

.navbar-fixed-top {
  background-color: #282C37;
}
