.left-panel {
  .fa {
    line-height: inherit;
  }
}
.breadcrumb > span {
  margin-right: 10px;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.file-edit-buttons {
  li {
    cursor: pointer;
  }
}
