.left-panel {
  .fa {
    line-height: inherit;
  }
}
.breadcrumb > span {
  margin-right: 10px;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.file-edit-buttons {
  li {
    cursor: pointer;
  }
}

.multi-select {
  width: 50%;
}

.test-run-panel-heading {
  display: inline-block;
  width: 100%;
}

.branches {
  .btn {
    text-align: left;
  }
}

.content {
  a:hover {
    text-decoration: underline;
  }
}

.progress.status {
  margin-bottom: 5px;
  overflow: initial;
}
