.wrapper-page.animated.fadeInDown
  .devise-form
    .panel.panel-color.panel-primary
      .panel-heading
        .text-center.m-t-10
          %img{alt: "logo", src: image_path("logo.png")}
          %h2= yield :header_title
      .panel-body
        = yield
