%footer.footer
  .container
    .row
      .col-lg-3.col-md-3
        %a.navbar-brand-footer{:href => "#"}
          %img{:alt => "logo", :src => image_path("logo.png")}/
      .col-lg-4.col-lg-offset-3.col-md-7
        %ul.nav.navbar-nav
          %li
            %a{:href => "#how"} How it works
          %li
            %a{:href => "#features"} Features
          %li
            %a{:href => "#pricing"} Pricing
          %li
            %a{:href => "#clients"} Clients
      .col-lg-2.col-md-2
        %ul.social-icons
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
    / end row
  / end container
