%header
  %section.top-section
    .container
      .row.nav-wrapper
        %nav.navbar.navbar-custom
          .container-fluid
            .navbar-header
              = link_to root_path do
                %div.navbar-brand.logo
                  %img{alt: "logo", src: image_path("logo.png")}
                  %span.logo-text Testributor
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a.btn.btn-custom{href: new_user_session_path} Log in
                %li
                  %a.w-lg.btn.btn-tb-primary.btn-custom{href: new_user_registration_path} Sign Up
