%header.top-head.container-fluid
  %button.navbar-toggle.pull-left{type: "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  / Right navbar
  - if user_signed_in?
    %ul.list-inline.navbar-right.top-menu.top-right-menu
      / user login dropdown start
      %li.dropdown.text-center
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.username.m-r-5= current_user.email
          %i.fa.fa-caret-down{ style: 'vertical-align: middle;'}
        %ul.dropdown-menu.extended.pro-menu.fadeInUp.animated{style: "overflow: hidden; outline: none;", tabindex: "5003"}
          %li
            = link_to(destroy_user_session_path, method: :delete) do
              %i.fa.fa-sign-out
              Sign out
  - else
    .sign-up-cta-header.top-menu.top-right-menu.navbar-right.m-t-5
      .col-xs-12
        .col-xs-10.no-padding
          .sign-up-text.text-right
            Join our Open Source community and build your projects faster!
        .col-xs-2
          .sign-up-btn
            = button_to(new_user_session_path, class: 'btn btn-primary') do
              %span.m-r-5 Sign in
              %i.fa.fa-sign-in


  - if user_signed_in?
    = link_to 'Send us feedback', '#',
      class: "btn btn-default pull-right m-t-10 m-r-15",
      data: { toggle: 'modal', target: '#feedback-modal' }

