.panel-heading
  .wizard
    .steps.clearfix
      %ul
        - wizard_steps.each_with_index do |step, i|
          - step_class = wizard_step_class(step)
          %li{ class: step_class }
            = link_to project_wizard_path(step), class: step_class do
              %span.number #{i + 1}.
              = I18n.t(step)
